.contato {
  margin-top: 40px;
}
.contato-itens {
  grid-column: 2 / -1;
}

label {
  display: block;
  margin-bottom: 5px;
  @include tipo-1(18);
}

input,
textarea {
  background-color: transparent;
  outline: none;
  border: 2px solid $bege-escuro;
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;

  &:hover {
    border: 2px solid $bege-medio;
  }

  &:placeholder-shown {
    @include tipo-1(18);
    padding-left: 10px;
  }
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: $bege;
  @include tipo-1(18);
}

.btn {
  cursor: pointer;
  padding: 10px 70px;
  background: transparent;
  border: 2px solid $bege;
  box-shadow: 5px 5px 0 -2px #cbc6b9, 5px 5px 0 0 #988c77;
  transition: all 0.3s;

  &:hover {
    box-shadow: 1px 1px 0 -2px #cbc6b9, 1px 1px 0 0 #988c77;
    transition: all 0.3s;
  }
}

.mapa {
  border: 10px solid $bege-medio;
  width: 100%;
}

.lista-contatos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.lista-contatos p {
  @include tipo-1(18);
  color: $bege;
}
