*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: $bege-claro;
  border: 10px solid $bege-medio;
  color: $cinza;
  @include device(mobile) {
    border: none;
  }
}

img {
  display: block;
  max-width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 90%;
}

h2 {
  @include tipo-1(18);
  text-transform: uppercase;
  display: flex;
  align-items: center;

  &::after {
    display: inline-block;
    content: "";
    width: 400px;
    height: 1.5px;
    background: $bege-escuro;
    margin-left: 10px;
  }
}

h3 {
  @include tipo-2(24);
}
