// variáveis do grid
$desktop: 1024px;
$tablet: 768px;
$mobile: 767px;

// mixins

@mixin device($size) {
  @if $size == desktop {
    @media screen and (max-width: $desktop) {
      @content;
    }
  } @else if $size == tablet {
    @media screen and (min-width: $tablet) and (max-width: $desktop - 1) {
      @content;
    }
  } @else if $size == mobile {
    @media screen and (max-width: $mobile) {
      @content;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: 5fr 7fr;
  gap: 40px;
  justify-content: center;

  @include device(tablet) {
    display: flex;
    flex-direction: column;
  }
  @include device(mobile) {
    display: flex;
    flex-direction: column;
  }
}
